body { font: 14pt 'Alike', sans-serif;}
#note { font-size: 164px; }
.droptarget { background-color: #348781}
div.confident { color: black; }
div.vague { color: lightgrey; }
#note { display: inline-block; height:180px; text-align: left;}

#detector { width: 300px; height: 300px; border: 4px solid gray; border-radius: 8px; text-align: center; padding-top: 10px;}
#output { width: 300px; height: 42px; }
#flat { display: none; }
#sharp { display: none; }
.flat #flat { display: inline; }
.sharp #sharp { display: inline; }

.keys{
	height: 120px;
}

#piano{
	background-color: #000;
	width: auto;
	height: 120px;
}

#piano #whiteKeys,
#piano #blackKeys{
	position: absolute;
}

#whiteKeyPressed{
    width: 20px;
	height: 120px;
	display: block;
	background-color: #F00;
	position: absolute;
	 opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#blackKeyPressed{
    width: 13px;
	height: 80px;
	display: block;
	background-color: #008000;
	position: absolute;
	left: 22px;
	 opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
